.row{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.form label{
        font-weight: lighter;
        font-size: 1.1em;
        color: var(--gris2);
}

.form{
    margin-top: 2em;
    margin-bottom: 3em;
}

.header{
    margin-top: 1em;
    margin-bottom: -1em;
}

.form input{
    font-weight: lighter;
}
.form  .btn{
    font-weight: bold;
    box-shadow: 0px 5px 5px 5px rgba(0,0,0,.05);
    color: #fff;
    width: 100%;
    border-radius: 7px;
    border: none;
    margin-top: 1.5em;
    padding: .5em 0;
}

#div-formLogin{
    margin-top: 0;
}

#div-formConfig{
    margin-top: 5em;
}

.div-form h1{
    text-align: center;
}

#div-formConfig h1{
    text-align: center;
}

.btnLogin{
    background-color: #E088D4;
}
.btnConfig{
    background-color: #484B84;
}

.form-message{
    color: #FF6C6C;
    font-weight: lighter;
    font-size: .9em;
    text-align: center;
    margin-bottom: 0;
    padding-top: .5em;
}


.form a{
    width: 100%;
    margin-top: .5em;
    text-align: center;
    font-weight: lighter;
    display: block;
    font-size: 1.1em;
}


select option{
    background-color: rgba(0,0,0,.01);
    font-family: 'Poppins', sans-serif;
}